.bg_img {
width: 1920px;
height: 1278px;
position:absolute;
top:-160px;
z-index: -1;
}

.bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index:-1;
    overflow: hidden;
}
.login{
    position: relative;
    bottom: -210px;
    left: 982px;
    
    background-color: #fff;
    border: 2px solid #eee;
    width: 418px;
    height: 316px;
}